# ================================
# Python virtual environments
# ================================
venv/

# ================================
# Data folders (raw & processed)
# ================================
data/


# ================================
# Jupyter Notebook checkpoints
# ================================
.ipynb_checkpoints/

# ================================
# Python cache & compiled files
# ================================
__pycache__/
*.py[cod]
*$py.class

# ================================
# Logs & temporary files
# ================================
*.log
*.tmp
src/era5_pipeline/pipeline_progress.json

# ================================
# OS-specific files
# ================================
.DS_Store
Thumbs.db


.env
